# actri-visualization

In [1]:
import ssl
import numpy as np
import matplotlib
import pandas as pd

In [2]:
##opening databases
land = pd.read_csv("tri_land.csv")
air = pd.read_csv("tri_air.csv")
ug = pd.read_csv("tri_underground1.csv")
water = pd.read_csv("tri_water.csv")

##displaying first 5 rows of each database
land.head(5)
air.head(5)
ug.head(5)
water.head(5)

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (13,31) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (31) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,TRI_FACILITY_ID,DOC_CTRL_NUM,FACILITY_NAME,STREET_ADDRESS,CITY_NAME,COUNTY_NAME,STATE_COUNTY_FIPS_CODE,STATE_ABBR,ZIP_CODE,REGION,...,TOTAL_RELEASE,REL_EST_AMT,RELEASE_NA,RELEASE_BASIS_EST_CODE,WATER_SEQUENCE_NUM,STREAM_NAME,STORM_WATER_NA,STORM_WATER_PERCENT,SRS_ID,REACH_CODE
0,15025RSTCH400ST,1388025294164,KOPPERS INC CLAIRTON TAR PLANT,300 N STATE ST,CLAIRTON,ALLEGHENY,42003,PA,15025,3,...,0.0,0.0,0,O,1,PETERS CREEK,0,NaN,23606.0,NaN
1,15049WTSNS616HI,1317215995768,WATSON STANDARD CO HARWICK PLANT,616 HITE RD,HARWICK,ALLEGHENY,42003,PA,15049,3,...,NaN,0.0,1,NaN,1,NaN,0,NaN,13326.0,NaN
2,15144PPGND125CO,1390045547217,PPG INDUSTRIESINC-SPRINGDALE COMPLEX,125 COLFAX ST,SPRINGDALE,ALLEGHENY,42003,PA,15144,3,...,0.0,0.0,0,O,1,ALLEGHENY RIVER,1,NaN,649426.0,NaN
3,15144PPGND125CO,1390045547217,PPG INDUSTRIESINC-SPRINGDALE COMPLEX,125 COLFAX ST,SPRINGDALE,ALLEGHENY,42003,PA,15144,3,...,NaN,0.0,0,NaN,2,NaN,0,NaN,649426.0,NaN
4,15025RSTCH400ST,1396100163118,KOPPERS INC CLAIRTON TAR PLANT,300 N STATE ST,CLAIRTON,ALLEGHENY,42003,PA,15025,3,...,NaN,0.0,0,NaN,1,NaN,0,NaN,31013.0,NaN